h1{
    text-align: center;
    
}
#main{
    height: 600px;
    width: 500px;
    align-items: center;
    margin-left: 32%;
    margin-top: 15px;
    font-family: 'Ranchers', cursive;
    
  
}
#message{
    height: 500px;
    width: 500px;
    align-items: center;
    padding-left: 5px;
    
   

}
